<?xml version="1.0" encoding="UTF-8"?>
<proxy xmlns="http://ws.apache.org/ns/synapse"
       name="test_service"
       transports="http https"
       startOnLoad="true">
   <description/>
   <target>
      <inSequence>
         <log level="custom">
            <property name="Message" value="Success"/>
         </log>
         <loopback/>
      </inSequence>
      <outSequence>
         <log level="full"/>
         <payloadFactory media-type="json">
            <format>{
   "Message": "Success"
}</format>
            <args/>
         </payloadFactory>
         <send/>
      </outSequence>
   </target>
</proxy>

